{% extends 'base.html' %}

{% block head %}
<title>AS{{asn}} - {{as_name}}</title>
{% endblock %}

{% block body %}
{% if asn == None %}

<form>
    <div class="row">
        <div class="col-8">
                    <input type="text" placeholder="Enter an AS number (e.g. 15169)" class="form-control" name="asn" >
        </div>
    </div>
    <div class="row">
        <div class="col">
                <button type="submit" class="btn btn-outline-primary"> Search </button>
        </div>
    </div>
</form>

{% else %}
<h1>AS{{asn}} - {{as_name}}</h1>
<h2>Traffic Overview</h2>
<div class='row'>
    <div class='col'>
        <div id="trafficASNPlot"></div>
    </div>
    <div class='col'>
        <div id="trafficCountryPlot"></div>
    </div>
</div>
{% if traceroutes %}
<h2>RTT overview</h2>
RTT from Atlas probes via AS{{asn}}
<div class='row'>
    <div class='col'>
        <div id="rttPlot"></div>
    </div>
</div>
{% endif %}
<h2>Traffic breakdown</h2>
<table id="trafficTable" class="table table-striped table-sm table-hover" width="100%">
    <thead>
    <tr>
        <th>Router</th>
        <th>Origin AS</th>
        <th>Prefix</th>
        <th>Traffic Volume</th>
        <th>Country</th>
        <th>AS path</th>
        <th>Description</th>
        <th>Country Name</th>
        <th>Origin AS Name</th>
    </tr>
    </thead>
    <tbody>
    {% for router_name, traffic in flows.items() %}
      {% for prefix, data in traffic.items() %}
        <tr>
            <td>{{ router_name }}</td>
            <td>{{ data.info.originasn }}</td>
            <td>{{ prefix }}</td>
            <td>{{ data.vol }}</td>
            <td>{{ data.info.country }}</td>
            <td>
                {{ ' - '.join(data.info.aspath) }}
            </td>
            <td>{{ data.info.descr }}</td>
            <td>{{ data.info.country_name }}</td>
            <td>{{ data.info.originasn_name }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
</table>

<h2>RTT</h2>

<table id="rttTable" class="table table-striped table-sm table-hover" width="100%">
    <thead>
    <tr>
        <th>Probe ID</th>
        <th>Country</th>
        <th>ASN </th>
        <th>router </th>
        <th>AS path</th>
        <th>Min. RTT</th>
        <th>Med. RTT</th>
        <th>Max. RTT</th>
        <th>Nb. samples</th>
    </tr>
    </thead>
    <tbody>
        {% for pid, asn, country, aspath, af, router, nb_samples, min_rtt, med_rtt, max_rtt in traceroutes %}
                <tr>
                    <td>{{ pid }}</td>
                    <td>{{ country }}</td>
                    <td>{{ asn }}</td>
                    <td>{{ router }}</td>
                    <td> {{ aspath }} </td>
                    <td> {{ min_rtt }} </td>
                    <td> {{ med_rtt }} </td>
                    <td> {{ max_rtt }} </td>
                    <td> {{ nb_samples }} </td>
                </tr>
        {% endfor %}
    </tbody>
</table>


{% endif %}
{% endblock %}

{% block footer %}
<script type="text/javascript">

    $(document).ready(function () {
        var trafficDataTable = makeTrafficDataTable('#trafficTable')
        drawTraffic(trafficDataTable, 'trafficASNPlot', 'Origin AS');
        drawTraffic(trafficDataTable, 'trafficCountryPlot', 'Country');

        var rttTable = makeRTTDataTable('#rttTable');
        drawRtt(rttTable, 'rttPlot', 'All');
    });
</script>
{% endblock %}
