{% extends 'base.html' %}

{% block head %}
<title>AS Graph</title>
{% endblock %}


{% block body %}
<h1 class="h2">Dashboard</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
    <button class="btn btn-sm btn-outline-secondary">Share</button>
    <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
    <span data-feather="calendar"></span>
    This week
    </button>
</div>
</div>

<div id="chart" class="chart" style="min-height: 1024px;">
{% endblock %}


{% block footer %}
<script type="text/javascript">
    var graphs = {{asgraph | safe}};
    Plotly.plot('chart',graphs,{});        
</script>

{% endblock %}
