{% extends 'base.html' %}

{% block head %}
<title>Peers</title>
{% endblock %}

{% block body %}
<h1>Peers</h1>

<table id="peersTable" class="table table-striped table-sm table-hover" width="100%">
    <thead>
    <tr>
        <th>ASN</th>
        <th>Name</th>
        <th>Traffic Volume</th>
    </tr>
    </thead>
    <tbody>
    {% for asn, info in peers.items() %}
        <tr>
            <td>AS{{ asn }}</td>
            <td>{{ info.name }}</td>
            <td>{{ info.vol }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#peersTable').DataTable({
            "paging": false,
            "fnInitComplete": function () {
                var myCustomScrollbar = document.querySelector('#peersTable_wrapper .dataTables_scrollBody');
                var ps = new PerfectScrollbar(myCustomScrollbar);
            },
            "scrollY": 850,
        });
    $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}
