{% extends 'base.html' %}

{% block head %}
<title>BGP Table</title>
{% endblock %}

{% block body %}
<h1>BGP Table: {{ selected_router }}</h1>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Select a router
  </button>
  <div class="dropdown-menu">
      {% for router in router_names %}
        <a class="dropdown-item" href="/routing?router={{router}}">{{router}}</a>
      {% endfor %}
  </div>
</div>

<div class="table-responsive">
<table id="routingTable" class="table table-striped table-sm table-hover">
    <thead>
    <tr>
        <th>Prefix</th>
        <th>AS path</th>
        <th style="max-width: 450px; word-wrap: break-word;">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for prefix, data in rib %}
        <tr>
            <td>{{ prefix }}</td>
            <td>{{ ' - '.join(data['aspath']) }}</td>
            <td>{{ data['descr'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#routingTable').DataTable({
            "paging": false,
            "fnInitComplete": function () {
                var myCustomScrollbar = document.querySelector('#routingTable_wrapper .dataTables_scrollBody');
                var ps = new PerfectScrollbar(myCustomScrollbar);
            },
            "scrollY": 850,
        });
    $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}
