{% extends 'base.html' %}

{% block head %}
<title>RTT data</title>
{% endblock %}

{% block body %}
<h1>RTT per country: {{ selected_country }}</h1>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Select a country
  </button>
  <div class="dropdown-menu">
      {% for country in all_country_code %}
        <a class="dropdown-item" href="/rtt?country={{country}}">{{country}}</a>
      {% endfor %}
  </div>
</div>

<div class='row'>
    <div class='col'>
        <div id="rttPlot"></div>
    </div>
</div>

<table id="rttTable" class="table table-striped table-sm table-hover" width="100%">
    <thead>
    <tr>
        <th>Probe ID</th>
        <th>Country</th>
        <th>ASN </th>
        <th>router </th>
        <th>AS path</th>
        <th>Min. RTT</th>
        <th>Med. RTT</th>
        <th>Max. RTT</th>
        <th>Nb. samples</th>
    </tr>
    </thead>
    <tbody>
        {% for pid, asn, country, aspath, af, router, nb_samples, min_rtt, med_rtt, max_rtt in traceroutes %}
                <tr>
                    <td>{{ pid }}</td>
                    <td>{{ country }}</td>
                    <td>{{ asn }}</td>
                    <td>{{ router }}</td>
                    <td> {{ aspath }} </td>
                    <td> {{ min_rtt }} </td>
                    <td> {{ med_rtt }} </td>
                    <td> {{ max_rtt }} </td>
                    <td> {{ nb_samples }} </td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#rttTable').DataTable({
            "paging": false,
            "scrollY": 850,
        });
    drawRtt('rttTable', 'rttPlot', '{{selected_country}}');
    });
</script>
{% endblock %}
