{% extends 'base.html' %}

{% block head %}
<title>Traffic data</title>
{% endblock %}

{% block body %}
<h1>Traffic data: {{ selected_router }}</h1>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Select a router
  </button>
  <div class="dropdown-menu">
      {% for router in router_names %}
        <a class="dropdown-item" href="/traffic?router={{router}}">{{router}}</a>
      {% endfor %}
  </div>
</div>

<div class='row'>
    <div class='col'>
        <div id="trafficASNPlot">
        </div>
    </div>
    <div class='col'>
        <div id="trafficCountryPlot">
        </div>
    </div>
</div>
<table id="trafficTable" class="table table-striped table-sm table-hover" width="100%">
    <thead>
    <tr>
        <th>Router</th>
        <th>Origin AS</th>
        <th>Prefix</th>
        <th>Traffic Volume</th>
        <th>Country</th>
        <th>AS path</th>
        <th>Description</th>
        <th>Country Name</th>
        <th>Origin AS Name</th>
    </tr>
    </thead>
    <tbody>
    {% for router_name, traffic in flows.items() %}
      {% for prefix, data in traffic.items() %}
        <tr>
            <td>{{ router_name }}</td>
            <td>AS{{ data.info.originasn }}</td>
            <td>{{ prefix }}</td>
            <td>{{ data.vol }}</td>
            <td>{{ data.info.country }}</td>
            <td>
                {% for asn in data.info.aspath %}{{ asn }}&nbsp;&nbsp;{% endfor %}
            </td>
            <td> {{ data.info.descr }} </td>
            <td>{{ data.info.country_name }}</td>
            <td>{{ data.info.originasn_name }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#mainProgress').hide();
        var trafficDataTable = makeTrafficDataTable('#trafficTable')
        drawTraffic(trafficDataTable, 'trafficASNPlot', 'Origin AS')
        drawTraffic(trafficDataTable, 'trafficCountryPlot', 'Country')
    })
</script>
{% endblock %}
